Dashboard.json
[
    {
        "id": "bf2d8960.f6d298",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "bf6de4e.49d5f18",
        "type": "ui_slider",
        "z": "bf2d8960.f6d298",
        "name": "sail",
        "label": "sail",
        "tooltip": "",
        "group": "5340c903.18dcd8",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "payload",
        "topicType": "msg",
        "min": "0",
        "max": "100",
        "step": 1,
        "x": 110,
        "y": 640,
        "wires": [
            [
                "b6abc90c.0192d8"
            ]
        ]
    },
    {
        "id": "4ed6eb8c.3d4924",
        "type": "ui_slider",
        "z": "bf2d8960.f6d298",
        "name": "rudder",
        "label": "rudder",
        "tooltip": "",
        "group": "5340c903.18dcd8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "payload",
        "topicType": "msg",
        "min": "0",
        "max": "100",
        "step": 1,
        "x": 110,
        "y": 580,
        "wires": [
            [
                "3f2b48bf.876f48"
            ]
        ]
    },
    {
        "id": "c93f6827.a49568",
        "type": "ui_switch",
        "z": "bf2d8960.f6d298",
        "name": "ManualOffOn",
        "label": "ManualOffOn",
        "tooltip": "",
        "group": "5340c903.18dcd8",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "payload",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 130,
        "y": 700,
        "wires": [
            [
                "b908916.970fe7"
            ]
        ]
    },
    {
        "id": "8c58dd8d.ddbba",
        "type": "ui_text",
        "z": "bf2d8960.f6d298",
        "group": "c16362ac.58301",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "roll",
        "format": "{{msg.payload[\"roll\"]}}",
        "layout": "row-spread",
        "x": 650,
        "y": 120,
        "wires": []
    },
    {
        "id": "c5c46d4f.aab87",
        "type": "ui_text",
        "z": "bf2d8960.f6d298",
        "group": "c16362ac.58301",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "pitch",
        "format": "{{msg.payload[\"pitch\"]}}",
        "layout": "row-spread",
        "x": 650,
        "y": 180,
        "wires": []
    },
    {
        "id": "3c13e2eb.e2d9be",
        "type": "ui_text",
        "z": "bf2d8960.f6d298",
        "group": "c16362ac.58301",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "longitude",
        "format": "{{msg.payload[\"long\"]}}",
        "layout": "row-spread",
        "x": 660,
        "y": 240,
        "wires": []
    },
    {
        "id": "3506579a.6e4358",
        "type": "ui_text",
        "z": "bf2d8960.f6d298",
        "group": "c16362ac.58301",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "latitude",
        "format": "{{msg.payload[\"lati\"]}}",
        "layout": "row-spread",
        "x": 660,
        "y": 300,
        "wires": []
    },
    {
        "id": "24f22f57.fc08b",
        "type": "ui_text",
        "z": "bf2d8960.f6d298",
        "group": "c16362ac.58301",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "windAngle",
        "format": "{{msg.payload[\"angle\"]}}",
        "layout": "row-spread",
        "x": 670,
        "y": 360,
        "wires": []
    },
    {
        "id": "13222721.7177b9",
        "type": "function",
        "z": "bf2d8960.f6d298",
        "name": "",
        "func": "msg.payload[\"yaw\"] = msg.payload[\"data\"][0]\nmsg.payload[\"roll\"] = msg.payload[\"data\"][1]\nmsg.payload[\"pitch\"] = msg.payload[\"data\"][2]\nmsg.payload[\"long\"] = msg.payload[\"data\"][3]\nmsg.payload[\"lati\"] = msg.payload[\"data\"][4]\nmsg.payload[\"angle\"] = msg.payload[\"data\"][5]\nmsg.payload[\"spyaw\"] = msg.payload[\"data\"][6]\nmsg.payload[\"rudder\"] = msg.payload[\"data\"][7]\nmsg.payload[\"sail\"] = msg.payload[\"data\"][8]\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 220,
        "wires": [
            [
                "79bcf207.f6a82c"
            ]
        ]
    },
    {
        "id": "79bcf207.f6a82c",
        "type": "change",
        "z": "bf2d8960.f6d298",
        "name": "change",
        "rules": [
            {
                "t": "delete",
                "p": "payload[\"data\"]",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 220,
        "wires": [
            [
                "8c58dd8d.ddbba",
                "c5c46d4f.aab87",
                "3c13e2eb.e2d9be",
                "3506579a.6e4358",
                "24f22f57.fc08b",
                "713d69b.5f47d98",
                "622c864e.541d88",
                "eb70d296.9f8b8",
                "b56b1315.128ea"
            ]
        ]
    },
    {
        "id": "713d69b.5f47d98",
        "type": "ui_text",
        "z": "bf2d8960.f6d298",
        "group": "c16362ac.58301",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "yaw",
        "format": "{{msg.payload[\"yaw\"]}}",
        "layout": "row-spread",
        "x": 650,
        "y": 420,
        "wires": []
    },
    {
        "id": "3f2b48bf.876f48",
        "type": "change",
        "z": "bf2d8960.f6d298",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "socketid",
                "pt": "msg"
            },
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "payload[\"rudder\"]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 580,
        "wires": [
            [
                "62006787.8b68d8"
            ]
        ]
    },
    {
        "id": "b6abc90c.0192d8",
        "type": "change",
        "z": "bf2d8960.f6d298",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "socketid",
                "pt": "msg"
            },
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "payload[\"sail\"]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 640,
        "wires": [
            [
                "62006787.8b68d8"
            ]
        ]
    },
    {
        "id": "b908916.970fe7",
        "type": "change",
        "z": "bf2d8960.f6d298",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "socketid",
                "pt": "msg"
            },
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "payload[\"manual\"]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 700,
        "wires": [
            [
                "62006787.8b68d8"
            ]
        ]
    },
    {
        "id": "62006787.8b68d8",
        "type": "function",
        "z": "bf2d8960.f6d298",
        "name": "RememberState",
        "func": "if (msg.payload[\"sail\"]){\nmemorySail =  msg.payload[\"sail\"] \n}\nif (msg.payload[\"rudder\"]){\nmemoryRudder =   msg.payload[\"rudder\"] \n}\nif (msg.payload[\"manual\"]){\nmemoryManual = msg.payload[\"manual\"]\n}\nif (msg.payload[\"manual\"]==false){\nmemoryManual = msg.payload[\"manual\"]\n}\n\nmsg.payload[\"sail\"] = memorySail\nmsg.payload[\"rudder\"] = memoryRudder\nmsg.payload[\"manual\"]= memoryManual\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\n\nmemorySail =  50\nmemoryRudder =  50\nmemoryManual =   false\nmemoryReset = false",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 640,
        "wires": [
            [
                "7bad324.115f0cc"
            ]
        ]
    },
    {
        "id": "fd34a00e.b924",
        "type": "ui_numeric",
        "z": "bf2d8960.f6d298",
        "name": "Longnitude d",
        "label": "GPS Longitude D",
        "tooltip": "",
        "group": "6d7eed10.259994",
        "order": 1,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "180",
        "step": 1,
        "x": 130,
        "y": 820,
        "wires": [
            [
                "546f65e3.cfddac"
            ]
        ]
    },
    {
        "id": "979668d6.085ac8",
        "type": "ui_numeric",
        "z": "bf2d8960.f6d298",
        "name": "Latitude d",
        "label": "GPS Latitude D",
        "tooltip": "",
        "group": "6d7eed10.259994",
        "order": 5,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "180",
        "step": 1,
        "x": 120,
        "y": 1060,
        "wires": [
            [
                "210fe287.79f69e"
            ]
        ]
    },
    {
        "id": "99f02b21.48b7b8",
        "type": "ui_numeric",
        "z": "bf2d8960.f6d298",
        "name": "Longnitude m ",
        "label": "GPS Longitude M",
        "tooltip": "",
        "group": "6d7eed10.259994",
        "order": 2,
        "width": "0",
        "height": "0",
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "99",
        "step": 1,
        "x": 140,
        "y": 880,
        "wires": [
            [
                "bd11fd1f.d58e5"
            ]
        ]
    },
    {
        "id": "4317ad3e.06ab14",
        "type": "ui_numeric",
        "z": "bf2d8960.f6d298",
        "name": "Latitude m",
        "label": "GPS Latitude M",
        "tooltip": "",
        "group": "6d7eed10.259994",
        "order": 6,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "99",
        "step": 1,
        "x": 130,
        "y": 1120,
        "wires": [
            [
                "74cf386b.b1f7b8"
            ]
        ]
    },
    {
        "id": "546f65e3.cfddac",
        "type": "change",
        "z": "bf2d8960.f6d298",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "socketid",
                "pt": "msg"
            },
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "payload[\"longd\"]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 820,
        "wires": [
            [
                "20875cdb.d94b34"
            ]
        ]
    },
    {
        "id": "bd11fd1f.d58e5",
        "type": "change",
        "z": "bf2d8960.f6d298",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "socketid",
                "pt": "msg"
            },
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "payload[\"longm\"]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 880,
        "wires": [
            [
                "20875cdb.d94b34"
            ]
        ]
    },
    {
        "id": "210fe287.79f69e",
        "type": "change",
        "z": "bf2d8960.f6d298",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "socketid",
                "pt": "msg"
            },
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "payload[\"latid\"]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 1060,
        "wires": [
            [
                "20875cdb.d94b34"
            ]
        ]
    },
    {
        "id": "74cf386b.b1f7b8",
        "type": "change",
        "z": "bf2d8960.f6d298",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "socketid",
                "pt": "msg"
            },
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "payload[\"latim\"]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 1120,
        "wires": [
            [
                "20875cdb.d94b34"
            ]
        ]
    },
    {
        "id": "20875cdb.d94b34",
        "type": "function",
        "z": "bf2d8960.f6d298",
        "name": "RememberState",
        "func": "if (msg.payload[\"longd\"]){\nmemoryLongD =  msg.payload[\"longd\"] \n}\nif (msg.payload[\"longm\"]){\nmemoryLongM =   msg.payload[\"longm\"] \n}\nif (msg.payload[\"longs\"]){\nmemoryLongS =  msg.payload[\"longs\"] \n}\nif (msg.payload[\"longms\"]){\nmemoryLongMS =   msg.payload[\"longms\"] \n}\n\n\nif (msg.payload[\"latid\"]){\nmemoryLatiD =   msg.payload[\"latid\"] \n}\nif (msg.payload[\"latim\"]){\nmemoryLatiM =   msg.payload[\"latim\"] \n}\nif (msg.payload[\"latis\"]){\nmemoryLatiS =   msg.payload[\"latis\"] \n}\nif (msg.payload[\"latims\"]){\nmemoryLatiMS =   msg.payload[\"latims\"] \n}\n\nmsg.payload[\"longd\"]  = memoryLongD\nmsg.payload[\"longm\"]  = memoryLongM\nmsg.payload[\"longs\"]  = memoryLongS\nmsg.payload[\"longms\"]  = memoryLongMS\n\nmsg.payload[\"latid\"] = memoryLatiD\nmsg.payload[\"latim\"] = memoryLatiM\nmsg.payload[\"latis\"] = memoryLatiS\nmsg.payload[\"latims\"] = memoryLatiMS\n\nif (msg.payload[\"set\"]){\n    return msg;\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\n\nmemoryLongD = 0\nmemoryLongM = 0\nmemoryLongS = 0\nmemoryLongMS = 0\n\nmemoryLatiD = 0\nmemoryLatiM = 0\nmemoryLatiS = 0\nmemoryLatiMS = 0\n",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 820,
        "wires": [
            [
                "d5e0f647.aaed78"
            ]
        ]
    },
    {
        "id": "4be15f78.ee8d4",
        "type": "ui_button",
        "z": "bf2d8960.f6d298",
        "name": "",
        "group": "6d7eed10.259994",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Send GPS Set Point",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 160,
        "y": 1300,
        "wires": [
            [
                "1763813b.cd296f"
            ]
        ]
    },
    {
        "id": "1763813b.cd296f",
        "type": "change",
        "z": "bf2d8960.f6d298",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "socketid",
                "pt": "msg"
            },
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "payload[\"set\"]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 1300,
        "wires": [
            [
                "20875cdb.d94b34"
            ]
        ]
    },
    {
        "id": "944a62dd.05874",
        "type": "ui_numeric",
        "z": "bf2d8960.f6d298",
        "name": "Longnitude s",
        "label": "GPS Longitude S",
        "tooltip": "",
        "group": "6d7eed10.259994",
        "order": 3,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "99",
        "step": 1,
        "x": 130,
        "y": 940,
        "wires": [
            [
                "e93ca418.ce5e28"
            ]
        ]
    },
    {
        "id": "e93ca418.ce5e28",
        "type": "change",
        "z": "bf2d8960.f6d298",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "socketid",
                "pt": "msg"
            },
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "payload[\"longs\"]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 940,
        "wires": [
            [
                "20875cdb.d94b34"
            ]
        ]
    },
    {
        "id": "bff818f1.2b9618",
        "type": "ui_numeric",
        "z": "bf2d8960.f6d298",
        "name": "Longnitude ms",
        "label": "GPS Longitude MS",
        "tooltip": "",
        "group": "6d7eed10.259994",
        "order": 4,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "99",
        "step": 1,
        "x": 140,
        "y": 1000,
        "wires": [
            [
                "dd3bda1b.15de48"
            ]
        ]
    },
    {
        "id": "dd3bda1b.15de48",
        "type": "change",
        "z": "bf2d8960.f6d298",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "socketid",
                "pt": "msg"
            },
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "payload[\"longms\"]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 1000,
        "wires": [
            [
                "20875cdb.d94b34"
            ]
        ]
    },
    {
        "id": "2a10d7f0.cc4438",
        "type": "ui_numeric",
        "z": "bf2d8960.f6d298",
        "name": "Latitude ms",
        "label": "GPS Latitude MS",
        "tooltip": "",
        "group": "6d7eed10.259994",
        "order": 8,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "99",
        "step": 1,
        "x": 130,
        "y": 1240,
        "wires": [
            [
                "89c43067.4329a"
            ]
        ]
    },
    {
        "id": "89c43067.4329a",
        "type": "change",
        "z": "bf2d8960.f6d298",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "socketid",
                "pt": "msg"
            },
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "payload[\"latims\"]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 1240,
        "wires": [
            [
                "20875cdb.d94b34"
            ]
        ]
    },
    {
        "id": "95133c6d.fa011",
        "type": "ui_numeric",
        "z": "bf2d8960.f6d298",
        "name": "Latitude s",
        "label": "GPS Latitude S",
        "tooltip": "",
        "group": "6d7eed10.259994",
        "order": 7,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "99",
        "step": 1,
        "x": 120,
        "y": 1180,
        "wires": [
            [
                "2ae7c86d.36ac88"
            ]
        ]
    },
    {
        "id": "2ae7c86d.36ac88",
        "type": "change",
        "z": "bf2d8960.f6d298",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "socketid",
                "pt": "msg"
            },
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "payload[\"latis\"]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 1180,
        "wires": [
            [
                "20875cdb.d94b34"
            ]
        ]
    },
    {
        "id": "5cd37c02.b3dc24",
        "type": "fred in",
        "z": "bf2d8960.f6d298",
        "name": "Data",
        "server": "",
        "client": "8a87fd05.b1b3f",
        "x": 190,
        "y": 140,
        "wires": [
            [
                "6601dad7.a06d24"
            ]
        ]
    },
    {
        "id": "7bad324.115f0cc",
        "type": "fred out",
        "z": "bf2d8960.f6d298",
        "name": "Manual Control",
        "server": "",
        "client": "9e2e628a.6d05b",
        "x": 820,
        "y": 640,
        "wires": []
    },
    {
        "id": "d5e0f647.aaed78",
        "type": "fred out",
        "z": "bf2d8960.f6d298",
        "name": "GPS Set Point",
        "server": "",
        "client": "a60d992d.d4d458",
        "x": 820,
        "y": 820,
        "wires": []
    },
    {
        "id": "6601dad7.a06d24",
        "type": "json",
        "z": "bf2d8960.f6d298",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 390,
        "y": 140,
        "wires": [
            [
                "ff2bd948.e79908"
            ]
        ]
    },
    {
        "id": "ff2bd948.e79908",
        "type": "change",
        "z": "bf2d8960.f6d298",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload['payload']",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "payload['payload']",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 100,
        "y": 220,
        "wires": [
            [
                "13222721.7177b9"
            ]
        ]
    },
    {
        "id": "622c864e.541d88",
        "type": "ui_text",
        "z": "bf2d8960.f6d298",
        "group": "c16362ac.58301",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "course",
        "format": "{{msg.payload[\"spyaw\"]}}",
        "layout": "row-spread",
        "x": 650,
        "y": 480,
        "wires": []
    },
    {
        "id": "eb70d296.9f8b8",
        "type": "ui_text",
        "z": "bf2d8960.f6d298",
        "group": "c16362ac.58301",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "rudder",
        "format": "{{msg.payload[\"rudder\"]}}",
        "layout": "row-spread",
        "x": 650,
        "y": 540,
        "wires": []
    },
    {
        "id": "b56b1315.128ea",
        "type": "ui_text",
        "z": "bf2d8960.f6d298",
        "group": "c16362ac.58301",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "sail",
        "format": "{{msg.payload[\"sail\"]}}",
        "layout": "row-spread",
        "x": 650,
        "y": 600,
        "wires": []
    },
    {
        "id": "c8119e4d.59433",
        "type": "ui_button",
        "z": "bf2d8960.f6d298",
        "name": "",
        "group": "5340c903.18dcd8",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "MCS Reset",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 760,
        "wires": [
            [
                "797c6eac.6f42c"
            ]
        ]
    },
    {
        "id": "797c6eac.6f42c",
        "type": "change",
        "z": "bf2d8960.f6d298",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "socketid",
                "pt": "msg"
            },
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "payload[\"data\"]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 760,
        "wires": [
            [
                "4fe8da0e.52a464"
            ]
        ]
    },
    {
        "id": "4fe8da0e.52a464",
        "type": "fred out",
        "z": "bf2d8960.f6d298",
        "name": "Reset",
        "server": "",
        "client": "b6eff976.c1d888",
        "x": 810,
        "y": 760,
        "wires": []
    },
    {
        "id": "5340c903.18dcd8",
        "type": "ui_group",
        "name": "Manual Control",
        "tab": "23443d5d.701a22",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "c16362ac.58301",
        "type": "ui_group",
        "name": "Live Data",
        "tab": "23443d5d.701a22",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "6d7eed10.259994",
        "type": "ui_group",
        "name": "GPS",
        "tab": "23443d5d.701a22",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "8a87fd05.b1b3f",
        "type": "fred-client",
        "endpoint": "livedata2",
        "private": true,
        "username": "sailboat",
        "wholemsg": "false"
    },
    {
        "id": "9e2e628a.6d05b",
        "type": "fred-client",
        "endpoint": "manual1",
        "private": true,
        "username": "sailboat",
        "wholemsg": "false"
    },
    {
        "id": "a60d992d.d4d458",
        "type": "fred-client",
        "endpoint": "gpsdata1",
        "private": true,
        "username": "sailboat",
        "wholemsg": "false"
    },
    {
        "id": "b6eff976.c1d888",
        "type": "fred-client",
        "endpoint": "reset1",
        "private": true,
        "username": "sailboat",
        "wholemsg": "false"
    },
    {
        "id": "23443d5d.701a22",
        "type": "ui_tab",
        "name": "LandBase",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]