TransmitHub.json
[
    {
        "id": "bf2d8960.f6d298",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5cd37c02.b3dc24",
        "type": "fred in",
        "z": "bf2d8960.f6d298",
        "name": "Data",
        "server": "b891de36.7eb0f",
        "client": "",
        "x": 170,
        "y": 220,
        "wires": [
            [
                "2070554.d98472a"
            ]
        ]
    },
    {
        "id": "7bad324.115f0cc",
        "type": "fred out",
        "z": "bf2d8960.f6d298",
        "name": "Manual Control",
        "server": "3d05b117.2dbda6",
        "client": "",
        "x": 740,
        "y": 60,
        "wires": []
    },
    {
        "id": "d5e0f647.aaed78",
        "type": "fred out",
        "z": "bf2d8960.f6d298",
        "name": "GPS Set Point",
        "server": "e7b9e0bb.0c42",
        "client": "",
        "x": 740,
        "y": 140,
        "wires": []
    },
    {
        "id": "4b2b729b.ca046c",
        "type": "fred in",
        "z": "bf2d8960.f6d298",
        "name": "Manual Control In",
        "server": "2174b9ef.e92936",
        "client": "",
        "x": 190,
        "y": 60,
        "wires": [
            [
                "a2fe0fc8.095e1"
            ]
        ]
    },
    {
        "id": "62e2243e.d956d4",
        "type": "fred in",
        "z": "bf2d8960.f6d298",
        "name": "GPS Set Point IN",
        "server": "6de4ee58.0994b",
        "client": "",
        "x": 200,
        "y": 140,
        "wires": [
            [
                "6ab0aaea.f1dd84"
            ]
        ]
    },
    {
        "id": "e6d51148.585e68",
        "type": "fred out",
        "z": "bf2d8960.f6d298",
        "name": "Data 2",
        "server": "5417fa2a.69e1fc",
        "client": "",
        "x": 730,
        "y": 220,
        "wires": []
    },
    {
        "id": "a2fe0fc8.095e1",
        "type": "json",
        "z": "bf2d8960.f6d298",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 430,
        "y": 60,
        "wires": [
            [
                "7bad324.115f0cc",
                "5e91232b.49eff4"
            ]
        ]
    },
    {
        "id": "6ab0aaea.f1dd84",
        "type": "json",
        "z": "bf2d8960.f6d298",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 430,
        "y": 140,
        "wires": [
            [
                "d5e0f647.aaed78",
                "5e91232b.49eff4"
            ]
        ]
    },
    {
        "id": "2070554.d98472a",
        "type": "json",
        "z": "bf2d8960.f6d298",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 430,
        "y": 220,
        "wires": [
            [
                "e6d51148.585e68",
                "5e91232b.49eff4"
            ]
        ]
    },
    {
        "id": "5e91232b.49eff4",
        "type": "debug",
        "z": "bf2d8960.f6d298",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 320,
        "wires": []
    },
    {
        "id": "90b55bca.5732",
        "type": "fred in",
        "z": "bf2d8960.f6d298",
        "name": "Reset In",
        "server": "3c1f480a.519018",
        "client": "",
        "x": 180,
        "y": 400,
        "wires": [
            [
                "33fdb0b5.481cf8"
            ]
        ]
    },
    {
        "id": "d862ae9f.7609b8",
        "type": "fred out",
        "z": "bf2d8960.f6d298",
        "name": "Reset Out",
        "server": "38af1104.3d42d6",
        "client": "",
        "x": 730,
        "y": 400,
        "wires": []
    },
    {
        "id": "33fdb0b5.481cf8",
        "type": "json",
        "z": "bf2d8960.f6d298",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 410,
        "y": 400,
        "wires": [
            [
                "d862ae9f.7609b8",
                "5e91232b.49eff4"
            ]
        ]
    },
    {
        "id": "b891de36.7eb0f",
        "type": "fred-server",
        "endpoint": "livedata1",
        "private": true,
        "wholemsg": "false"
    },
    {
        "id": "3d05b117.2dbda6",
        "type": "fred-server",
        "endpoint": "manual2",
        "private": true,
        "wholemsg": "true"
    },
    {
        "id": "e7b9e0bb.0c42",
        "type": "fred-server",
        "endpoint": "gpsdata2",
        "private": true,
        "wholemsg": "true"
    },
    {
        "id": "2174b9ef.e92936",
        "type": "fred-server",
        "endpoint": "manual1",
        "private": true,
        "wholemsg": "false"
    },
    {
        "id": "6de4ee58.0994b",
        "type": "fred-server",
        "endpoint": "gpsdata1",
        "private": true,
        "wholemsg": "false"
    },
    {
        "id": "5417fa2a.69e1fc",
        "type": "fred-server",
        "endpoint": "livedata2",
        "private": true,
        "wholemsg": "true"
    },
    {
        "id": "3c1f480a.519018",
        "type": "fred-server",
        "endpoint": "reset1",
        "private": true,
        "wholemsg": "false"
    },
    {
        "id": "38af1104.3d42d6",
        "type": "fred-server",
        "endpoint": "reset2",
        "private": true,
        "wholemsg": "true"
    }
]